*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.bigContainer{
  display: flex;
  justify-content: center;
  margin-right: 5rem;}

.productContainer{
  box-shadow: 2px 2px 2px 2px rgb(245, 244, 244);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 2rem;
  background-color: rgb(245, 244, 244);
  border-radius: 1rem;
}

.productContainer img{
  width: 10rem;
  height: 14rem;
  margin-left: 1rem;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 16rem;
  margin: auto;
  padding: 1rem;
}

.prices{
  margin-left: 2rem;
  width: 100%;
}


@media screen and (max-width:700px) {
  .bigContainer{
    flex-direction: column;
  }
}